﻿@model MakeupStudio.Core.Entities.Order[]

@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/orders/upcomingorders")
}

<a href="@Url.Action("Create", "Orders")" type="button" class="btn btn-success">
    Создать заказ
</a>

<p style="font-size: 17px">
    @if (Model.Length == 0)
    {
        <span id="help-text">У Вас нет заказов</span>
    }
</p>

<div style="max-width: 500px">
    @Html.Partial("~/Views/Partial/TempData.cshtml")
</div>

@if (Model.Length > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Время приема</th>
                <th>Имя клента</th>
                <th>Телефон клиента</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
           @foreach (var order in Model)
           {
                <tr>
                    <td>
                        <span class="localdate" data-date="@order.AppointedTime.Value.ToString("O")">@order.AppointedTime.Value.ToString("O")</span>  
                    </td>
                    <td>@order.ClientName</td>
                    <td>@order.ClientPhone</td>
                    <td>
                        <button class="btn btn-success finishBtn" data-id="@order.Id">
                            <span>Выполнено</span>
                        </button>
                        <a href="@Url.Action("Edit", "Orders", new {orderId = order.Id})" class="btn btn-info" data-id="@order.Id">
                            <span>Изменить</span>
                        </a>
                        <button class="btn btn-danger remove-order-btn deleteOrder" data-id="@order.Id">
                            <span>Удалить</span>
                        </button>
                    </td>
                </tr>
           }
        </tbody>
    </table>
}