﻿<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="font-size: 20px">
                <li><a href="@Url.Action("Index", "Orders")">Заявки</a></li>
                <li><a href="@Url.Action("UpcomingOrders", "Orders")">Заказы</a></li>
                @*<li><a href="@Url.Action("Index", "InformationForClients")">Информация для клиентов</a></li>*@
                @*<li><a href="#">Личная информация</a></li>*@
                <li><a href="@Url.Action("Index", "Works")">Услуги</a></li>
                <li><a href="@Url.Action("Index", "Photos")">Фотографии</a></li>
                <li><a href="@Url.Action("LogOut", "Account")">Выход</a></li>
            </ul>
        </div>
    </div>
</div>
