﻿@model MakeupStudio.Models.Works.WorksIndexModel

@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/works/index")
}

<a href="@Url.Action("CreateWork","Works")" type="button" class="btn btn-success" style="margin-bottom: 20px">
    <span class="glyphicon glyphicon-plus"></span> Добавить услугу
</a>

@Html.Partial("~/Views/Partial/TempData.cshtml")

@if (Model.Works != null && Model.Works.Length > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Услуга</th>
                <th>Категория</th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var work in Model.Works)
            {
                <tr>
                    <td>@work.WorkName</td>
                    <td>@work.ChildCategoryName</td>
                    <td>@work.Price.ToString("F0")</td>
                    <td>
                        <a href="@Url.Action("EditWork", "Works", new {Id = work.Id})" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span>Изменить</span>
                        </a>
                        <button class="btn btn-danger remove-work-btn" data-id="@work.Id">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span>Удалить</span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}