﻿.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, .has-error .checkbox, .has-error .radio-inline, 
.has-error .checkbox-inline, .has-error.radio label, 
.has-error.checkbox label, .has-error.radio-inline label, 
.has-error.checkbox-inline label {
    color: #dc0707;
}


.has-error .form-control {
    border-color: #dc0707;
}